<div class='footer-div'>
    <button class="footer-button"> <a href='/contact'>CONTACT US</a></button>
    <h4>COPYRIGHT © 2019 QUEEN CITY ROTARY INC.</h4>
    <p>Website Design by The First Rule of Website Design (and Fight Club) | Photography Mostly by Unsplash.com</p>
</div>
