<div class='footer-div'>
    <button class="home-button"> <a href='/contact'>CONTACT US</a></button>
    <h4>COPYRIGHT © 2018 QUEEN CITY ROTARY</h4>
    <p>Website Design by The First Rule of Website Design (and Fight Club) | Photography Mostly by Unsplash.com</p>
</div>
