<div class='footer-div'>
    <button class="home-button">CONTACT US</button>
    <h4>COPYRIGHT © 2018 QUEEN CITY ROTARY</h4>
    <h5>Website Design by The First Rule of Fight Club | Photography by Unsplash.com</h5>
</div>