<div class='footer-div'>
    <p>COPYRIGHT © 2019 QUEEN CITY ROTARY INC.</p>
    <!-- <p>Website Design by The First Rule of Website Design (and Fight Club) | Photography Mostly by Unsplash.com</p> -->
</div>
