<html>
<head>
  <%- include ./partials/header %>
  <title><%= title %></title>
  <style>
    body {
    background-color:lightgray;
  }
  </style>
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <table>
  <tr>
    <!-- <td class="primary-color-step">
      <img class="speaker_image" src='../images/reginald_walker_profile.jpg'>
    </td> -->
    <td class="speaker-profile-div">
      <h1>Reginald Walker Jr.</h1>
      <h5>Reginald Walker Jr. is a 2004 graduate of The Pennsylvania State University, where he was a member of the football team as both a defensive back and running back.  In 2005, Reginald began what would be a nearly twelve-year run, in various production roles at ESPN.  In addition to cutting his teeth as a Production Assistant on SportsCenter, Reginald earned two Emmy Awards as an Associate Producer for ESPN’s College Gameday.  Since his departure from ESPN in 2017, Reginald spends his time coaching and working with young athletes, co-hosting multiple podcasts, and maintains various broadcasting assignments. </h5>
    </td>
  </tr>
</table>
</body>
<%- include ./partials/footer %>
</html>
