<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='calendar'>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fqioic11u7hofhf7t0pk85266o%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style= "border-width:0" width="1580" height="825" frameborder="0" scrolling="no" "margin-top:2em"></iframe>
     </div>
    </body>