<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
  </head>
  <body>
    <script src="https://www.calendarwiz.com/cwlist/cwresponsive.js/?crd=queencityrotary7680&view=calendar&nolog=1&cid[]=all&calwidth=100%&calheight=950&mobilepref=list&theme=Master%20Theme"></script>    
    <%- include ./partials/footer %>