<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='calendar'>
        <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=queencityrotary7680%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="1580" height="825" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="speaker parallax">
      <p class='big-image-text'>Speakers</p>
      <button class='home-button' id='speakers-button'>UPCOMING SPEAKERS</button>
    </div>
    <div class="event parallax">
        <p class='big-image-text'>Events</p>
        <button class='home-button' id='events-button'>UPCOMING EVENTS</button>
      </div>
    </body>
    <%- include ./partials/footer %>