<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="ariel-charlotte parallax">
        <p class='big-image-text'>OUR CLUB</p>
        <p class='big-image-text' id='ariel-charlotte-text'>We didn't take this picture...</p>
    </div>
    <div class="golden-gate parallax">
        <p class='big-image-text'>YOUR ROTARY</p>
        <p class='big-image-text' id='ariel-charlotte-text'>Isn't yours yet because you're probably not a member</p>
    </div>
    <div class='text-div'>
        <h4>Weekly Meetings</h4>
        <h1>Tuesdays @ 6:30 pm</h1>
        <p>WHEREVER WE HAPPEN TO BE THAT WEEK...WE'RE KINDA HOMELESS ATM</p>
        <p>WE'LL PUT AN ADDRESS HERE WHEN WE FIND A HOME</p>
        <button class="home-button">VIEW MAP (BUT IT WON'T HELP)</button>
    </div>
    <hr>
    <div class='text-div'>
        <h1>Club Calendar</h1>
        <i class="fas fa-calendar-alt fa-10x"></i>
    </div>
    <div class="disaster parallax">
        <p class='big-image-text'>OUR MISSION</p>
        <p class='big-image-text' id='ariel-charlotte-text'>We're probably in over our heads TBH</p>
    </div>
    <div class='text-div'>
        <h1>From making mission and vision statements to planning events and doing paperwork,</h1>
        <h1>Queen City Rotary of Charlotte gets bogged down in administrative minutae like no one else</h1>
        <h4><a href='https://www.rotary.org/en/about-rotary/rotary-foundation'>Our Foundation</a></h4>
        <button class="home-button"><a href='/contact'>JOIN US (RESISTANCE IS FUTILE)</a></button>
    </div>
    <div class='service parallax'>
        <p class='big-image-text'>SERVICE PROJECTS</p>
        <p class='big-image-text' id='ariel-charlotte-text'>NO, NOT THAT KIND OF SERVICE</p>
    </div>
    <div class='text-div'>
        <h1>Serve today.</h1>
        <h4>ERADICATE POLIO. STOP AIDS. PROMOTE PEACE. STOP ERUPTING VOLCANOS. ALL BEFORE BEDTIME.</h4>
        <button class="home-button">UPCOMING SERVICE PROJECTS</button>
    </div>
    <div class='manhattan parallax'>
        <p class='big-image-text'>PHOTO GALLERIES</p>
        <p class='big-image-text' id='ariel-charlotte-text'>This isn't even Charlotte</p>
    </div>
    <div class='home-roles'>
        <h1>Serve | Print to Donate | Share</h1>
        <img class='donate' src='../images/donate.jpg'>
    </div>
    <div class='text-div'>
        <h5>* PHILANTHROPIC FESTIVE BALLOONS *</h5>
        <h2>100% of print sales are in US currency.</h2>
        <h5>Donate by clicking the button below. Amount donated is randomly generated.</h5>
        <button class="home-button">View Galleries</button>
    </div>
  </body>
  <%- include ./partials/footer %>
</html>
