<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
  </head>
  <body>
      <div class="parallax skyline-3">
            <div class='left-container'>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            <div class='text-div'>
                <h4>Consider your current Rotary club.</h4>
                <br>
                <h4>You don't have one? That's sad. </h4>
                <br>
                <h4>You should do something about that.</h4>
                <br>
                <h4>Queen City Rotary could be (and probably is) the Rotary club you're looking for</h4>
                <br>
                <h4>Even if we aren't, you'll still have a great time; and besides, what else are you doing on a Tuesday?</h4>
            </div>
            <button class="home-button"><a href='/contact'>Make A Good Decision. <br>Join Us.</a></button>
        </div>
    <div class="parallax ariel-charlotte">
            <div class='left-container'>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
        <div class='text-div'>
            <h1>Club Meetings</h1>
            <h2>Tuesdays @ 6:30 pm</h2>
            <h3><u>Hickory Tavern</u></h3>
            <h4>1100 Metropolitan Ave #170</h4>
            <h4>Charlotte, NC 28204</h4>
            <br>
            <h3>(We didn't take that picture BTW...)</h3>
        </div>
        <button class="home-button" id="map-button"><a href="https://www.google.com/maps/place/Hickory+Tavern/@35.2128254,-80.8380857,17z/data=!3m1!4b1!4m5!3m4!1s0x88569f8c7807d077:0x392cc8dd329b14e!8m2!3d35.212821!4d-80.835897">Show Me A Map</a></button>
    </div>
  </body>
  <%- include ./partials/footer %>
</html>
