<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="parallax golden-gate">
            <div class='left-container'>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> 
                    </div>
            <div class='text-div'>
                <h3>Consider your current Rotary club.</h3>
                <br>
                <h3>You don't have one? That's sad. </h3>
                <br>
                <h3>You should do something about that.</h3>
                <br>
                <h3>Queen City Rotary could be (and probably is) the Rotary club you're looking for</h3>
                <br>
                <h3>Even if we aren't, you'll still have a great time; and besides, what else are you doing on a Tuesday?</h3>
            </div>
            <button class="home-button"><a href='/contact'>Make A Good Decision. Join Us.</a></button>
        </div>
    <div class="parallax ariel-charlotte">
            <div class='left-container'>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    </div>
        <div class='text-div'>
            <h4>Weekly Meetings</h4>
            <h1>Tuesdays @ 6:30 pm</h1>
            <p>WHEREVER WE HAPPEN TO BE THAT WEEK...WE'RE KINDA HOMELESS ATM</p>
            <p>WE'LL PUT AN ADDRESS HERE WHEN WE FIND A HOME</p>
            <br>
            <h3>(We didn't take that picture BTW...)</h3>
        </div>
        <button class="home-button">VIEW MAP (BUT IT WON'T HELP)</button>
    </div>
    <!-- <div class="disaster parallax">
        <p class='big-image-text'>OUR MISSION</p>
        <p class='big-image-text' id='ariel-charlotte-text'>We're probably in over our heads TBH</p>
    </div>
    <div class='service parallax'>
        <p class='big-image-text'>SERVICE PROJECTS</p>
        <p class='big-image-text' id='ariel-charlotte-text'>NO, NOT THAT KIND OF SERVICE</p>
    </div>
    <div class='text-div'>
        <h1>Serve today.</h1>
        <h4>ERADICATE POLIO. STOP AIDS. PROMOTE PEACE. STOP ERUPTING VOLCANOS. ALL BEFORE BEDTIME.</h4>
        <br>
        <br>
        <a href='/calendar' class="home-button">UPCOMING SERVICE PROJECTS</a>
    </div>
    <div class='manhattan parallax'>
        <p class='big-image-text'>PHOTO GALLERIES</p>
        <p class='big-image-text' id='ariel-charlotte-text'>This isn't even Charlotte</p>
    </div>
    <div class='home-roles'>
        <h1>Serve | Print to Donate | Share</h1>
        <img class='donate' src='../images/donate.jpg'>
    </div>
    <div class='text-div'>
        <h5>* PHILANTHROPIC FESTIVE BALLOONS *</h5>
        <h2>100% of print sales are in US currency.</h2>
        <h5>Donate by clicking the button below. Amount donated is randomly generated.</h5>
        <button class="home-button">View Galleries</button>
    </div> -->
  </body>
  <%- include ./partials/footer %>
</html>
