<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
  </head>
  <body>
      <div class="parallax golden-gate">
            <div class='left-container'>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            <div class='text-div'>
                <h3>Consider your current Rotary club.</h3>
                <br>
                <h3>You don't have one? That's sad. </h3>
                <br>
                <h3>You should do something about that.</h3>
                <br>
                <h3>Queen City Rotary could be (and probably is) the Rotary club you're looking for</h3>
                <br>
                <h3>Even if we aren't, you'll still have a great time; and besides, what else are you doing on a Tuesday?</h3>
            </div>
            <button class="home-button"><a href='/contact'>Make A Good Decision. Join Us.</a></button>
        </div>
    <div class="parallax ariel-charlotte">
            <div class='left-container'>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
        <div class='text-div'>
            <h2>Club Meetings</h2>
            <h1>Tuesdays @ 6:30 pm</h1>
            <p>WHEREVER WE HAPPEN TO BE THAT WEEK...WE'RE KINDA HOMELESS ATM</p>
            <p>WE'LL PUT AN ADDRESS HERE WHEN WE FIND A HOME</p>
            <br>
            <h3>(We didn't take that picture BTW...)</h3>
        </div>
        <button class="home-button">VIEW MAP (BUT IT WON'T HELP)</button>
    </div>
  </body>
  <%- include ./partials/footer %>
</html>
