<html>
<head>
  <%- include partials/header.ejs %>
  <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
</head>
    <div class="more-info-heading">
        <h2>Reach Out</h2>
        <h5>Want to know more? Just Ask.</h5>
    </div>
    <form action="/send-email" method="post">
        <div class="form-group more-info-form">
          <input type="string" class="form-control" id="name form-control" placeholder="Name" name="name" required>
          <input type="string" class="form-control" id="phoneNumber form-control" placeholder="Phone Number" name="phoneNumber" required>
          <input type="email" class="form-control" id="email form-control" placeholder="Email Address" name="email" required>
          <select name="best_method" class="form-control" placeholder="Best Way to Contact You" id="best_method" required>
            <option value="They Didn't Pick One">Best Way to Contact You</option>
            <option value="Email">Email</option>
            <option value="Text">Text</option>
            <option value="Carrier Pigeon">Carrier Pigeon (who are we to judge?)</option>
          </select>
          </div>
          <button type="submit" class="btn" id='more-info-button'>Submit</button>
      </form>
      <script>
       // when form is submit
    $('#comment_form').submit(function() {
        // we stoped it
        event.preventDefault();
        // needs for recaptacha ready
        grecaptcha.ready(function() {
            // do request for recaptcha token
            // response is promise with passed token
            grecaptcha.execute('6LfyrZUUAAAAAGISIs8Fg4n4frmdqo0ZT7pDQiEq', {action: '/send-email'}).then(function(token) {
                // add token to form
                $('#comment_form').prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
                    $.post("form.php",{token: token}, function(result) {
                            console.log(result);
                            if(result.success) {
                                    alert('Thanks for posting comment.')
                            } else {
                                    alert('You are spammer ! Get the @$%K out.')
                            }
                    });
            });;
        });
  });
  </script>
<%- include partials/footer.ejs %>
</html>
