<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="speaker parallax">
        <p class='big-image-text'>Speakers</p>
        <button class='home-button' id='join-us-button'>UPCOMING SPEAKERS</button>
      </div>
      <div class="event parallax">
          <p class='big-image-text'>Events</p>
          <button class='home-button' id='join-us-button'>UPCOMING EVENTS</button>
        </div>
  </body>
  <%- include ./partials/footer %>
</html>