<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  </body>
    <div class="parallax" id="home-skyline">
      <div>
        <img src="../images/QCRRotary.jpeg" style = "width: 30%; height:30%; margin-left:35%; margin-top:7%; opacity: 0.9">
        <button class='home-button' id='skyline-button'><a href='/contact'>We Won't Bribe You With Food</a></button>
      </div>
    </div>
    <!-- <div>
        <img id='first-home-banner' src="../images/together-we-are.jpg">
    </div>
    <hr>
    <div id="we-statements">
      <h1>We are <b>DRIVEN</b> by an utter disdain for poor communication</h1>
      <h1>We <b>BRING</b> our own food (by choice)</h1>
      <h1>We <b>DON'T</b> force you to meet every week</h1>
      <p><i>-The guy who made this site</i></p>
      <button class="home-button">Our Club</button>
    </div>
    <div class='parallax' id='home-join-us'>
      <p class='big-image-text'>Join Us</p>
    </div>
    <div id='home-snapshots'>
      <p>Roles | Go | Here</p>
      <p>Tons of images will go here at some point</p>
      <button class='home-button' id='home-join-us-button'><a href='/contact'>Join Us</a></button>
    </div>
    <div class='parallax' id='lunch-image'>
        <p class='big-image-text'>Let's Meet (food is optional)</p>
    </div>
    <div id='centered-home-text'>
      <p>Want a work break?</p>
      <p><b>Then ask your employer for a more flexible work schedule</b></p>
      <p>(Employee rights matter!)</p>
      <p>Address Here</p>
      <p>Time Here</p>
      <button class=home-button><a href='/contact'>REACH OUT</a></button>
    </div>
    <div class='parallax' id='get-involved-home'>
        <p class='big-image-text'>GET INVOLVED</p>
        <button class=home-button id="join-us-button"><a href='/contact'>Join Us</a></button>
    </div> -->
  <%- include ./partials/footer %>
</html>
