<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home-skyline parallax">
      <p class='big-image-text'>The Parallax Effect Isn't Special</p>
      <p class='big-image-text' id='skyline-small-text'>Mimicking overhyped websites since about a week ago</p>
      <button class='home-button' id='skyline-button'>We Won't Bribe You With Food</button>
    </div>
    <div>
        <img class='first-home-banner' src="../images/together-we-are.jpg">
    </div>
    <hr>
    <div class="we-statements">
      <h1>We are <b>DRIVEN</b> by an utter disdain for poor communication</h1>
      <h1>We <b>BRING</b> our own food (by choice)</h1>
      <h1>We <b>DON'T</b> force you to meet every week</h1>
      <p><i>-The guy who made this site</i></p>
      <button class="home-button">Our Club</button>
    </div>
    <div class='parallax home-join-us'>
      <p class='big-image-text'>Join Us</p>
    </div>
    <div class='home-roles'>
      <p>Roles | Go | Here</p>
    </div>
    <div class='home-snapshots'>
      <p>Tons of images will go here at some point</p>
      <button class=home-button>Join Us</button>
    </div>
    <div class='parallax lunch-image'>
        <p class='big-image-text'>Let's Meet (food is optional)</p>
    </div>
    <div class='centered-home-text'>
      <p>Want a work break?</p>
      <p><b>Then ask your employer for a more flexible work schedule</b></p>
      <p>(Employee rights matter!)</p>
    </div>
    <div class='centered-home-text' id='address_and_time'>
      <p>Address Here</p>
      <p>Time Here</p>
      <button class='home-button'>SIGN UP TO MEET US (BYOF)</button>
    </div>
    <div class='parallax get-involved-home'>
        <p class='big-image-text'>GET INVOLVED</p>
        <button class=home-button id="join-us-button">Join Us</button>
    </div>
  </body>
</html>
