<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  </body>
  <div class="parallax skyline-2">
      <div class='left-container'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    <img src="../images/QCRRotary.jpeg" id="home-logo">
        <div class='right-container'>
          <!-- insert crap here -->
          </div>
          <button class='home-button' id='skyline-button'><a href='/club'>New Club. New Attitude.</a></button>
      </div>
    <!-- <div>
        <img id='first-home-banner' src="../images/together-we-are.jpg">
    </div>
    <hr>
    <div id="we-statements">
      <h1>We are <b>DRIVEN</b> by an utter disdain for poor communication</h1>
      <h1>We <b>BRING</b> our own food (by choice)</h1>
      <h1>We <b>DON'T</b> force you to meet every week</h1>
      <p><i>-The guy who made this site</i></p>
      <button class="home-button">Our Club</button>
    </div>
    <div id='home-snapshots'>
      <p>Roles | Go | Here</p>
      <p>Tons of images will go here at some point</p>
      <button class='home-button' id='home-join-us-button'><a href='/contact'>Join Us</a></button>
    </div>
    <div class='parallax' id='lunch-image'>
        <p class='big-image-text'>Let's Meet (food is optional)</p>
    </div>
    <div class='parallax' id='get-involved-home'>
        <p class='big-image-text'>GET INVOLVED</p>
        <button class=home-button id="join-us-button"><a href='/contact'>Join Us</a></button>
    </div> -->
  <%- include ./partials/footer %>
</html>
