<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home-skyline">
      <p class='home-largest-skyline-text'>The Parallax Effect Isn't Special</p>
      <p class='home-smaller-skyline-text'>Mimicking overhyped websites since about a week ago</p>
      <button class='landing-skyline-button'>We'll Bribe You With Food Too</button>
    </div>
    <div>
        <img class='first-home-banner' src="../images/together-we-are.jpg">
    </div>
    <hr>
    <div class="we-statements">
      <h1>We are <b>DRIVEN</b> by an utter disdain for poor communication</h1>
      <h1>We <b>BRING</b> our own food (by choice)</h1>
      <h1>We <b>DON'T</b> force you to meet every week</h1>
      <p><i>-The guy who made this site</i></p>
      <button class="we-statements-button">Our Club</button>
    </div>
    <div class='home-join-us'>
      <p class='join-us-text'>Join Us</p>
    </div>
    <div class='home-roles'>
      <p>Roles | Go | Here</p>
    </div>
    <div class='home-snapshots'>
      <p>Tons of images will go here at some point</p>
      <button class=join-us-button>Join Us</button>
    </div>
  </body>
</html>
