<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <br>
      <br>
      <br>
      <br>
      <h2 class = 'process-header'>How To Get Involved</h2>
<div class="process-container">
<div style="overflow-x:auto;">
  <table>
      <tr>
        <td class="primary-color-step" ><img id="website_image" src="../images/qcr_website_screenshot.png" alt="Research Us" class="process-image"></td>
        <td class="primary-color-step"><h4>Check out our website and see if you like Rotary and our club.
          <br>(Done. Look at you, overacheiver.)</h4></td>
      </tr>
      <br>
      <tr>
        <td class="secondary-color-step"><h4>Drop by one of our meetings and check us out in person.</h4></td>
        <td class="secondary-color-step"><img src="../images/meet_us.jpg" class="process-image" alt="Meet with us"></td>
      </tr>
      <br>
      <tr>
        <td class="primary-color-step"><img src="../images/speak_to_us.jpg" class="process-image" alt="Ask about applying"></td>
        <td class="primary-color-step"><h4>Speak to one of us about the application process.</h4></td>
      </tr>
      <br>
      <tr>
        <td class="secondary-color-step"><h4>Submit your application and we'll talk about you behind your back.</h4></td>
        <td class="secondary-color-step"><img src="../images/discussion.jpg" class="process-image" alt="I'll finish and deliver your site"></td>
      </tr>
      <br>
      <tr>
        <td class="primary-color-step"><img src="../images/join.jpg" class="process-image" alt="Meet with me"></td>
        <td class="primary-color-step"><h4>If we think you're a good fit, you'll be invited to join us.</h4></td>
      </tr>
  </table>
  </div>
</div>
</div>
    </body>
    <%- include ./partials/footer %>
    </html>
