<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
        <div class='disaster parallax'>
            <div class='text-div'>
                <h4>ERADICATE POLIO. STOP AIDS. PROMOTE PEACE. STOP ERUPTING VOLCANOS. ALL BEFORE BEDTIME.</h4>
                <br>
                <br>
                <h1>Serve today.</h1>
                <h5>(Although we're probably in over our heads TBH)</h5>
                <br>
                <br>
                <a href='/calendar' class="home-button">UPCOMING SERVICE PROJECTS</a>
            </div>
        </div>
    </body>
    <%- include ./partials/footer %>
</html>