<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <!-- Thanks to adorable.io for the great avatars ! -->

<div class="cards-container">
    <!--   First Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/1">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/2">
        </div>
      </div>
    </div>
    
  <!--   Second Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
            <p class='card-text'>
            Kristen Hayden
            <br>
            President Elect
            </p>
        </div>
        <div class="back">
          <img src="../images/kristen.jpg" style="width:300px; height:330px;">
        </div>
      </div>
    </div>
    
    <!--   Third Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/6">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/5">
        </div>
      </div>
    </div>
    
    <!--   Fourth Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/8">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/7">
        </div>
      </div>
    </div>
    
    <!--   Fifth Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/9">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/10">
        </div>
      </div>
    </div>
  </div>
    <!--   Sixth Card -->
  <div class="cards-container">
  <div class="card-container">
      <div class="card">
        <div class="front">
            <p class='card-text'>
            Scott Hudson
            <br>
            Communications Director
            </p>
        </div>
        <div class="back">
          <img src="../images/scott.jpg" style="width:300px; height:330px;">
        </div>
      </div>
    </div> 
  </div>
  </body>
  <%- include ./partials/footer %>
</html>

