<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  </head>
  <body>
      <div class="more-info-heading" id='more-info-heading'>
          <h2>People Who Take The Blame For Things</h2>
          <h4>(Our Officers)</h4>
      </div>
<div class="cards-container">
    <!--   First Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/1">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/2">
        </div>
      </div>
    </div>
    
  <!--   Second Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/3">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/4">
        </div>
      </div>
    </div>
    
    <!--   Third Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/6">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/5">
        </div>
      </div>
    </div>
    
    <!--   Fourth Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/8">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/7">
        </div>
      </div>
    </div>
    
    <!--   Fifth Card -->
    <div class="card-container">
      <div class="card">
        <div class="front">
  <img src="https://api.adorable.io/avatars/150/9">
        </div>
        <div class="back">
  <img src="https://api.adorable.io/avatars/150/10">
        </div>
      </div>
    </div>  
  </div>

      <!-- <div class="card-container">
      <div class="card">
        <div class="front">
            <p class='card-text'>
            Brie Ghallagher
            <br>
            Club President
            </p>
        </div>
        <div class="back">
          <img src="../images/brie.jpg" style="width:250px; height:300px;">
        </div>
      </div>
    </div> -->

  <!--   Second Card -->
    <!-- <div class="card-container">
      <div class="card">
        <div class="front" style="background-color: #8abf60;">
            <p class='card-text' style="background-color: #8abf60; font-family: 'Amatic SC', cursive; font-size: 2em; margin-top:2.5em;">
            Kristen Hayden
            <br>
            President Elect
            </p>
        </div>
        <div class="back">
          <img src="../images/kristen.jpg" style="width:250px; height:300px;" />
        </div>
      </div>
    </div> -->

    <!--   Third Card -->
    <!-- <div class="card-container">
        <div class="card">
          <div class="front">
              <p class='card-text'>
              Katie Lenger
              <br>
              Secretary
              </p>
          </div>
          <div class="back">
            <img src="../images/katie.jpg" style="width:250px; height:300px;">
          </div>
        </div>
      </div> -->

      <!-- Fourth Card -->
    <!-- <div class="card-container">
        <div class="card">
          <div class="front">
              <p class='card-text' style="font-family: 'Great Vibes', cursive;">
              Cynthia Prince
              <br>
              Treasurer
              </p>
          </div>
          <div class="back">
            <img src="../images/cynthia.jpg" style="width:250px; height:300px;">
          </div>
        </div>
      </div> -->

    <!-- </div> -->

  <!-- <div class="cards-container" > -->

     <!--   Fifth Card -->
     <!-- <div class="card-container">
        <div class="card">
          <div class="front">
              <p class='card-text'>
              Amanda Valbert
              <br>
              Membership Director
              </p>
          </div>
          <div class="back">
            <img src="../images/amanda.jpg" style="width:250px; height:300px;">
          </div>
        </div>
      </div> -->

  <!-- <div class="card-container">
      <div class="card">
        <div class="front" style="font-family: 'Libre Barcode 128 Text', cursive; background-color: #5803A9;">
            <p class='card-text' style="font-family: 'Libre Barcode 128 Text', cursive; background-color: #5803A9; color: white; font-size: 2.3em; margin-top:2em;">
            Scott Hudson
            <br>
            Communications Director
            </p>
        </div>
        <div class="back">
          <img src="../images/scott.jpg" style="width:250px; height:300px;">
        </div>
      </div>
    </div> -->

    <!-- <div class="card-container">
        <div class="card">
          <div class="front">
              <p class='card-text'>
              Betty Kernizan
              <br>
              Service Director
              </p>
          </div>
          <div class="back">
            <img src="../images/betty.jpg" style="width:250px; height:300px;">
          </div>
        </div>
      </div> -->

    </div>
  </body>
  <%- include ./partials/footer %>
</html>
