<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="leadership parallax-min">
        <p class='big-image-text'>Our Officers</p>
          <p class='big-image-text' id='skyline-small-text'>Aren't Any Of These People</p>
      </div>
      <div class="officer-div">
        <h2> Club President </h2>
        <img class='officer-pics' src='../images/gavel.jpg'>
        <h4>How Could I Not Reuse This Guy?</h4>
        <h2><i>"You Start To Stammer, You Get The Hammer"</i></h2>
        <hr width="80%">
        <h2>Vice President</h2>
        <img class='officer-pics' src='../images/thrift-shop.jpg'>
        <h4>And This Guy Too</h4>
        <h2><i>"...But It Was Ninety-Nine Cents"</i></h2>
        <hr width="80%">
        <h2>Secretary</h2>
        <img class='officer-pics'  src='../images/kristen.jpg' id='kristen-pic'>
        <h4>Kristen Hayden</h4>
        <h2><i>"Seriously, Can't Someone Else Be Secretary!?"</i></h2>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>
