<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>
  <body>
      <div class="more-info-heading" id='more-info-heading'>
          <h2>People Who Take The Blame For Things</h2>
          <h4>(Our Officers)</h4>
      </div>

<div class="cards-container">

      <div class="card-container">
          <div class="card" style='background-color:#00FFFF;'>
            <div class="side" style="font-family: 'Bree Serif', serif; text-align:center;">
              Brie Gallagher
              <br>
              President
            </div>
            <div class="side back"><img src="../images/brie.jpg" alt="Brie"></div>
          </div>
        </div>

        <div class="card-container">
            <div class="card" style="background-color: #8abf60;">
              <div class="side" style="font-family: 'Amatic SC', cursive;">
                Kristen Hayden
                <br>
                President Elect
              </div>
              <div class="side back"><img src="../images/kristen.jpg" alt="Kristen"></></div>
            </div>
          </div>

          <div class="card-container">
              <div class="card">
                <div class="side" style="">
                  Katie Lenger
                  <br>
                  Secretary
                </div>
                <div class="side back"><img src="../images/katie.jpg" alt="Katie"></></div>
              </div>
            </div>

            <div class="card-container">
                <div class="card" style="background-color:#ca1eff;">
                  <div class="side" style="font-family: 'Great Vibes', cursive;">
                    Cynthia Prince
                    <br>
                    Treasurer
                  </div>
                  <div class="side back"><img src="../images/cynthia.jpg" alt="Cynthia"></div>
                </div>
              </div>
            </div>

            <div class="cards-container">
              <div class="card-container">
                  <div class="card">
                    <div class="side" style="">
                      Amanda Valbert
                      <br>
                      Membership Director
                    </div>
                    <div class="side back"><img src="../images/amanda.jpg" alt="Amanda"></div>
                  </div>
                </div>

                <div class="card-container">
                    <div class="card">
                      <div class="side" style="font-family: 'Libre Barcode 128 Text', cursive; background-color: #6c1b84; color: white;">
                        Scott Hudson
                        <br>
                        Communications Director
                      </div>
                      <div class="side back"><img src="../images/scott.jpg" alt="Scott"/></div>
                    </div>
                  </div>

                  <div class="card-container">
                      <div class="card">
                        <div class="side" style="background-color: #000080; color: white;">
                          Betty Kenrizan
                          <br>
                          Service Director
                        </div>
                        <div class="side back"><img src="../images/betty.jpg" alt="Betty"></div>
                      </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                          <div class="side" style="font-family: 'Bree Serif', serif;">                          
                            Laura Collinge
                            <br>
                            Service Director
                          </div>
                          <div class="side back"><img src="../images/laura.jpg" alt="Laura"></div>
                        </div>
                      </div>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>
