<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  </head>
  <body>
      <div class="more-info-heading" id='more-info-heading'>
          <h2>People Who Take The Blame For Things</h2>
          <h4>(Our Officers)</h4>
      </div>

      <div class="card-container">
          <div class="card">
            <div class="side">Brie Gallagher</div>
            <div class="side back"><img src="../images/brie.jpg" alt="Brie"></div>
          </div>
        </div>

        <div class="card-container">
            <div class="card">
              <div class="side" style="background-color: #8abf60; font-family: 'Amatic SC', cursive; font-size: 2em;">Kristen Hayden</div>
              <div class="side back"><img src="../images/kristen.jpg" alt="Kristen"></div>
            </div>
          </div>

          <div class="card-container">
              <div class="card">
                <div class="side">Katie Lenger</div>
                <div class="side back"><img src="../images/katie.jpg" alt="Katie"></div>
              </div>
            </div>

            <div class="card-container">
                <div class="card">
                  <div class="side" style="font-family: 'Great Vibes', cursive;">Cynthia Prince</div>
                  <div class="side back"><img src="../images/cynthia.jpg" alt="Cynthia"></div>
                </div>
              </div>
  
              <div class="card-container">
                  <div class="card">
                    <div class="side" style="font-family: 'Great Vibes', cursive;">Amanda Valbert</div>
                    <div class="side back"><img src="../images/amanda.jpg" alt="Amanda"></div>
                  </div>
                </div>

                <div class="card-container">
                    <div class="card">
                      <div class="side" style="font-family: 'Libre Barcode 128 Text', cursive; background-color: #5803A9; color: white;">Scott Hudson <br> Communications Director</div>
                      <div class="side back"><img src="../images/scott.jpg" alt="Scott"></div>
                    </div>
                  </div>

                  <div class="card-container">
                      <div class="card">
                        <div class="side">Betty Kenrizan</div>
                        <div class="side back"><img src="../images/betty.jpg" alt="Betty"></div>
                      </div>
                    </div>
  
  </body>
  <%- include ./partials/footer %>
</html>
