<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="resources parallax">
        <p class='big-image-text'>Resources</p>
      </div>
      <div>
        <h2 id='resources-small-text'>Grant Applications</h2>
        <button class='home-button' id='join-us-button'>GRANTS</button>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>