<html>
<head>
  <%- include partials/header.ejs %>
</head>
<body>
  <br>
  <br>
  <br>
<div class="thanks-container">
  <h3>Thanks for Reaching Out</h3>
  <h6>Someone from Queen City Rotary will be in touch with you very soon with more information</h6>
</div>
</body>
  <%- include partials/footer.ejs %>
</html>
