<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="home-skyline parallax">
          <div class='left-container'>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <div class="text-div">
            <h1><u>What We're Up To This Week</u></h1>
            <h2>Service Project: Promising Pages</h2>
            <br>
            <h5>Tuesday, February 19th, 2019</h5>
            <h4>4020 Yancey Rd</h4>
            <h4>Charlotte, NC 28217</h4>
            <h4>6:30-8:30</h4>
        </div>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>
