<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="home-skyline parallax">
          <div class='left-container'>
          </div>
          <br>
          <br>
          <br>
          <br>
        <div class="text-div">
          <!-- <h1><u>What We're Up To This Week</u></h1>
          <h5>We're Not. We Only Meet the 2nd and 4th Weeks of the Month</h5>
          <h3>See You Next Week!</h3> -->

            <h2><u>What We're Up To This Week</u></h2>
            <a href='/about-the-speaker'><img class="speaker_image" src="../images/reginald_walker_2.jpg"></a>
            <br>
            <br>
            <h4>Reginald Walker Jr.: The Bounce Back</h4>
            <br>
            <h5>Tuesday, March 12th, 2019</h5>
            <h4>Hickory Tavern: Metropolitan</h4>
            <h4>1100 Metropolitan Ave #170</h4>
            <h4>Charlotte, NC 28204</h4>
            <h4>6:30-8:30</h4>
        </div>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>
