<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="home-skyline parallax">
          <div class='left-container'>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
          </div>
        <div class = 'text-box'>
            <h1><u>What We're Up To This Week</u></h1>
            <h2>Weekly Meeting</h2>
            <br>
            <h4>Polo Gate at Mountain Island Lake</h4>
            <h4>4850 Polo Gate Boulevard</h4>
            <h4>Charlotte, NC 28216</h4>
            <h5>Gate Code: 5958</h5>


            <h4>6:30-7:30</h4>
        </div>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>
