<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="skyline-2 parallax">
        <div class = 'text-box'>
            <h1><u>What We're Up To This Week</u></h1></h1>
            <br>
            <h2>Club Social</h2>
            <br>
            <h4>Queen Park Social</h4>
            <h5>6:30-9:30</h5>
        </div>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>