<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/header %>
  </head>
  <body>
      <div class="home-skyline parallax">
          <div class='left-container'>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <div class="text-div">
            <h1><u>What We're Up To This Week</u></h1>
            <h2>The Karen Dale Foundation: Allison Burkett</h2>
            <br>
            <h4>Hygge West Charlotte</h4>
            <h4>2128 Remount Road</h4>
            <h4>Charlotte, NC 28208</h4>
            <h5>The Blue Classroom</h5>
            <h4>6:30-7:30</h4>
        </div>
      </div>
  </body>
  <%- include ./partials/footer %>
</html>
