body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  height: 150px;
  width: 100%;
}

.nav-link {
  font-size: 1.1em;
  margin-left: 1.5em;
  color: #000;
}

.parallax {
  height: 800px;
  width: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding:0px;
}

.home-skyline {
  background-image: url("../images/skyline.jpg");
}

#skyline-small-text {
  text-align: center;
  padding-top: 3%;
  font-size: 3em;
  color: #fff;
}

#skyline-button {
  margin-left: 40%;
  margin-right: 40%;
}

.first-home-banner {
  width: 100%;
  max-height: 100%;
}

.we-statements {
  text-align: center;
}

.home-button {
  padding: 0.5%;
  margin: 3%;
  font-size: 1.5em;
  background-color: #6c6479;
}

.home-join-us {
  background-image: url("../images/home-join-us.jpg");
}

.home-roles {
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em;
  margin-top: 1em;
}

.home-snapshots {
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
}

.big-image-button {
  background-color: #6c6479;
  font-size: 1em;
  padding: 0.75%;
  margin-top: 3%;
}

.lunch-image {
  background-image: url("../images/lunch.jpg");
}

.get-involved-home {
  background-image: url('../images/get-involved.jpg')
}

#join-us-button {
  margin-left:47%;
}

.centered-home-text {
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em;
  margin-top: 1em;
}

.big-image-text {
  color:#fff;
  text-align: center;
  font-size: 8em;
  padding-top: 20%;
}